body {
    display: flex;
    justify-content: unset;
    align-items: unset;
    padding-bottom: 42px;
    background-color: #914517;
}

.legal-notice-main-container {
    display: flex;
    padding-bottom: 42px;
    padding-top: 108px !important;
    padding: 32px;
    align-items: center;
    flex-direction: column;
    font-family: "Arial", sans-serif;
    text-shadow: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #972918;
}

header a {
    display: flex;
    justify-content: flex-end;
    padding-right: 24px;
}

h1 {
    left: 5% !important;
    transform: translateX(-5%) !important;
}

h2 {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 44px;
}

p {
    margin: 0px;
}

.title {
    font-size: 32px
}

.text {
    font-size: 24px;
}